$primary-color: #444;
$secondary-color: #999;
$primary-size: 1rem;
$secondary-size: 0.5rem;

.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: calc($secondary-size * 0.5);
  display: flex;
  flex-direction: column;
  max-height: 600px;
  align-items: center;
  margin: 5rem auto;
  width: 50%;
  padding: calc($primary-size * 2);
  @media screen and (max-width: 768px) {
    width: 100%;
  }

  .card_details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .card_img {
      width: min(20%, 100px);
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  .card_repos_details {
    h3 {
      text-align: center;
      color: black;
      text-decoration: underline;
      margin-top: calc($secondary-size * 4);
    }
    span {
      color: black;
      font-weight: 900;
      font-size: calc($primary-size * 1.2);
      word-spacing: 5px;
    }
    color: $primary-color;
    max-height: 370px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $secondary-size;
    overflow: auto;
  }
}
